<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.sys.dao.usersMapper">
    <select id="getUserById" resultType="db.sys.dto.Users" parameterType="string">
        SELECT * from sy_users where urid = #{urid}
    </select>
</mapper>