.box, article { width: 1200px; margin: auto; overflow: hidden }

/*lbox*/
.lbox { width: 75%; float: left; overflow: hidden }

.whitebg { background: #fff; border-radius: 3px; padding: 20px; margin-bottom: 20px; overflow: hidden; }

/*bloglist*/
.bloglist ul { padding: 10px 0 0 }
.bloglist li { overflow: hidden; margin-bottom: 20px; border-bottom: #eee 1px dashed; padding-bottom: 20px; position: relative; min-height: 120px; }
.blogtitle { margin: 0 0 10px 0; font-size: 18px; overflow: hidden; }
.bloglist li:hover .blogtitle a { color: #337ab7; }

.blogtitle { margin: 0 0 10px 0; font-size: 18px; overflow: hidden; }
.bloglist li:hover .blogtitle a { color: #337ab7; }
.blogtitle b { color: #F00 }


.blogpic { float: left; width: 23.2%; height: 150px;margin-right: 20px; display: block; overflow: hidden; border-radius: 3px; position: relative }
.blogpic i { display: block; position: absolute; top: 0; left: 0; z-index: 9; font-style: normal; padding: 3px 5px; background: rgba(18,182,221,.8); font-size: 14px; }
.blogpic i a { color: #FFF }

.imgscale img { width: 100%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.imgscale:hover img { transform: scale(1.1); }


.blogtext { font-size: 14px; color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;}


.bloginfo { margin-top: 20px; overflow: hidden; color: #999; line-height: 34px; }
.bloginfo span { margin: 0 5px }
.bloginfo span a { color: #096 }


.avatar { position: relative; float: left; width: 30px; height: 30px; border-radius: 100%; padding: 2px; display: block; background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7)); }
.avatar img { width: 100%; border-radius: 50%; }
.avatar::after { content: ""; position: absolute; background: url(../images/v.png) no-repeat; background-size: 12px; width: 12px; height: 12px; right: 0; bottom: 0 }

a.viewmore { display: block; right: 10px; bottom: 20px; position: absolute; padding: 3px 10px; background: #12b7de; color: #fff; border-radius: 3px; }

